# Environment variables for LocalStack
AWS_ENDPOINT_URL=http://localhost:4566
S3_BUCKET=instagram-images-local
DDB_TABLE=Images
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
